@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  --tw-shadow-color: rgb(99 102 241 / 0.3);
  --tw-shadow: var(--tw-shadow-colored);
  color: white;
  transition-duration: 0.5s;
}
